@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width"/>
    @Styles.Render("~/Content/css")
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li class="active">
                    @Html.ActionLink("Каталог фильмов", "index", "movies", new {}, new {@class = ""})
                </li>
                <li>
                    @Html.ActionLink("Добавить фильм", 
                    "edit", "movies", new {id = 0}, new {@class = ""})
                </li>
            </ul>
        </div>
    </div>
    @RenderBody()
</div>
</body>
</html>
