@using MoviesCatalog.Web.Helpers
@model MoviesCatalog.Web.ViewModels.MoviesViewModel

@foreach (var item in Model.Movies)
{
    <div class="row control-group">
        <div class="span12">
           @foreach (var genre in item.Genres)
           {
               <span>@genre |</span>
           }
        </div>
        <div class="span12">
            @item.Id. @item.Name (@item.Year)
        </div>
        <div class="span12">
            @Html.ActionLink("Подробнее", "movie",
                "movies", new {id = item.Id}, new {@class = "btn", target = "_blank"})
        </div>
    </div> 
}

<div class="text-center">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index",new { page = x}))
</div>
